!*.d.ts
!/assets/
!/lib/
!/lib/**/*.js
*.ts
/.eslintrc.json
/.github/
/.idea/
/.projenrc.js
/.vscode/
/coverage/
/dist/changelog.md
/dist/version.txt
/src/
/test-reports/
/test/
/tsconfig.dev.json
/tsconfig.json
dist
junit.xml
permissions-backup.acl
tsconfig.tsbuildinfo

# CDK asset staging directory
.cdk.staging
cdk.out